<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>
    <style>
        a{
            color: black;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            margin: 10px 0;
        }
        a:hover{
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <a href="http://ecommerce.local/">Product Page (100% FE completed, 100% BE completed)</a> <br>
    <a href="http://ecommerce.local/product_view/1">Item Page (100% FE completed, 100% BE completed)</a> <br>
    <a href="http://ecommerce.local/cart">Cart Page (100% FE completed, 95% BE completed)</a> <br>
    <a href="http://ecommerce.local/cart">Checkout Page (100% FE completed, 95% BE completed)</a> <br>
    <a href="http://ecommerce.local/login">Admin Login page (100% FE completed, 100% BE completed)</a> <br>
    <a href="http://ecommerce.local/dashboards/orders">Admin Order Page (100% FE completed, 100% BE completed)</a> <br>
    <a href="http://ecommerce.local/dashboards/products">Admin Product Page (100% FE completed, 100% BE completed)</a> <br>
</body>
</html>
